<p>
  <label><%= l(:label_savaslabs_issue_template) %></label>
  <%= text_area_tag 'settings[issue_template]', @settings[:issue_template] %>
  <em class="info"> <%= l(:help_savaslabs_issue_template) %></em>
</p>
